<div [formGroup]="ingredientsForm">
  <div formArrayName="ingredients"> 
    <table class="table table-sm item-hl">
      <thead>
        <tr>
          <th>Hoeveelheid</th>
          <th>Eenheid</th>
          <th>Ingrediënt</th>
          <th>Voorraad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of ingredients; let i = index;" [formGroupName]="i">
            <td><input type="number" class="form-control" formControlName="amount"></td>
            <td>
                <measure-unit-select
                  [measureUnit]="ingredient.measureUnit" 
                  (valueChange)="updateMeasureUnit($event, ingredient)">
                </measure-unit-select>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>