<div class="col-md-8 container">
  <h3 class="text-left my-3">Nieuw account</h3>
  <form [formGroup]="editForm" (ngSubmit)="onEdit()">

    <div class="form-row">
      <div class="form-group col-md-5 required">
        <label for="username">Gebruikersnaam:</label>
        <input type="text" class="form-control" formControlName="username" autocomplete="off">
        <div *ngIf="username.invalid && (username.dirty || username.touched || submitted)" class="alert alert-danger mt-1">
          <div *ngIf="username.errors.required">Gebruikersnaam is vereist...</div>
        </div>
      </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5 required">
          <label for="role">Rol:</label>
          <select class="form-control" formControlName="role">
              <option value="" disabled="true">-- Selecteer een rol --</option>
            <option *ngFor="let type of accountTypes" value={{type}}>{{type}}</option>
          </select>
          <div *ngIf="role.invalid && (role.dirty || role.touched || submitted)" class="alert alert-danger mt-1">
              <div *ngIf="role.errors.required">Rol is vereist...</div>
          </div>
        </div>
      </div>
    <button class="btn btn-primary">Wijzig account</button>
  </form>
</div>
