<div class="col-md-12 container">
    <a class="btn btn-success bg-success m-2 float-right" role="button" routerLink='/recipe-create'>Nieuw recept invoeren</a>
  <h2>Recepten Overzicht</h2>
  
  <form>
    <div class="form-group form-inline">
      Op tekst zoeken: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="recipeTableService.searchTerm"/>
      <span class="ml-3" *ngIf="recipeTableService.loading$ | async">Laden...</span>
    </div>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th sortable="name" scope="col" (sort)="onSort($event)">Naam</th>
          <th sortable="recipeType" scope="col" (sort)="onSort($event)">Recepttype</th>
          <th scope="col">Categorieën</th>
          <th scope="col">Afbeelding</th>
          <th sortable="rating" scope="col" (sort)="onSort($event)">Waardering</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable" *ngFor="let recipe of recipes$ | async" (click)="onSelect(recipe)">
          <td>{{recipe.name}}</td>
          <td>{{recipe.recipeType}}</td>
          <td>{{recipeTableService.getTagString(recipe.tags)}}</td>
          <td class="no-padding">
            <div *ngIf="!editImage && recipe.image" class="col-md-6">
              <img [attr.src]="baseUrl + 'image/?name=' + recipe.image"  style=" max-height: 60px; max-width: 60px;">
            </div>
          </td>
          <td>{{recipe.rating}}</td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="total$ | async" 
        [(page)]="recipeTableService.page"
        [pageSize]="recipeTableService.pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="recipeTableService.pageSize">
        <option [ngValue]="25">25 recept per pagina</option>
        <option [ngValue]="50">50 recepten per pagina</option>
        <option [ngValue]="100">100 recepten per pagina</option>
        <option [ngValue]="100000">Alle recepten</option>
      </select>
    </div>
  </form>

</div>
