<table class="table table-sm item-hl">
  <thead>
    <tr>
      <th>Id</th>
      <th>Naam</th>
      <th>Meervoudsnaam</th>
      <th>
        <button class="btn btn-primary m-1" routerLink="/ingredient-name-create">Ingredientnaam toevoegen</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingredientName of ingredientNames">
      <td>{{ingredientName.id}}</td>
      <td>{{ingredientName.name}}</td>
      <td>{{ingredientName.pluralName}}</td>
      <td>
        <a (click)="editIngredientName(ingredientName)">
          <img class="mx-3" src="assets/images/edit-icon.png" alt="edit-icon">
        </a>
        <a (click)="deleteIngredientName(ingredientName)">
          <img class="mx-3" src="assets/images/delete-icon.png" alt="delete-icon">
        </a>
      </td>
    </tr>
  </tbody>
</table>